*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
section{
    padding:100px;
}
.banner{
    position:relative;
    min-height: 100vh ;
    background: #111;
    background: url(images/landing\ \(1\).jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2{
   font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.5em;
    font-weight: 500;

}
.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.btn{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo{
    position: relative;
    color:#fff;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;   
}
header.sticky .logo{
    color: #111;
    text-decoration: none;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a{
    color: #111;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.content-box p{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 200;
}
.content-box h3{
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}
.w50{
    min-width: 50%;

}
img{
    max-width: 100%;
}
 .me {

    display: inline-block;
    position: relative;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 145px;
    height: 145px;
    overflow: hidden;
    border-radius: 50%;

}
.me img{
 width: auto;
  height: 100%;
  
  margin-left: -50px;
}
.skill-box .back-up-btn{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #111;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;

}



footer .footer{
    background-color: black;
    

}






/*Responsive*/
@media (max-width: 991px){
    header,header .sticky{
        padding: 20px 50px;
        z-index: 999;
    }
    .menu{
        position: fixed;
        top:0;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu .active{

    }
    header ul li a{
        color: #111;

    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background: 30px;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle .active{
        background: url(close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle{
        filter: invert(1);
    }
    section{
        padding: 100px 50px;
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em;
    }
    .btn{
        margin-top: 10px;
        padding: 10px 10px;
        font-size: 16px;
    }
    .heading h2{
        font-size: 24px;
    }
    .content-box{
        font-size: 20px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
        margin-bottom: 20px;
    }
}
.skill{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}
.skills .title::after{
    content: "what i know";
}
.skill-name{
    font-size: 18 px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}
.skill-bar{
  height 20px;
  background-color: aquamarine;
  border-radius: 8px;  
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}



